<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">

  <title>Title page</title>

<link href="./static/style.css" rel="stylesheet"></head>
<style>
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

}</style>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/me_mountains.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Curriculum Vitae</h1>
      <p>
        <a class="fa-icon fa-icon-2x" href="/" title="">
            <i class="fa fa-home"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/robfail/?hl=en" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/robert-fail-464a79102/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="/cv.html" title="">
          <i class="fa fa-address-book-o"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->

 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2><a href="/static/Curriculum Vitae v8.pdf" download="Rob Fail CV">
              CV (Download)</a></h2>
            <div class="row">
              <div class="col-md-12">
                <h2>Qualifications</h2>
                  <table style="width:100%">
                    <tr>
                      <td rowspan="2">2020</td>
                      <td>Proficiency in Python</td>
                    </tr>
                    <tr>
                      <td>Zero to Mastery</td>
                    </tr>
                    <tr>
                      <td rowspan="2">2019</td>
                      <td>Association of Chartered Accountants</td>
                    </tr>
                    <tr>
                      <td>Institute of Chartered Accountants of England and Wales</td>
                    </tr>
                    <tr>
                      <td rowspan="2">2014</td>
                      <td>First Class Honours Degree in Economics (BA)</td>
                    </tr>
                    <tr>
                      <td>University of Exeter</td>
                    </tr>
                    <tr>
                      <td rowspan="2">2011</td>
                      <td>A Levels: Mathematics A*, Further Mathematics A, Economics A, Physics A, General Studies A</td>
                    </tr>
                    <tr>
                      <td>Hampton School, Middlesex</td>
                    </tr>
                    <tr>
                      <td rowspan="2">2011</td>
                      <td>GSCEs (6xA*, 3xA, 1xB) including Mathematics a year early</td>
                    </tr>
                    <tr>
                      <td>Hampton School, Middlesex</td>
                    </tr>
                  </table>
                <br>
                <br>

                <h2>Work Experience</h2>

                <h4>PwC LLP, London</h4>
                <h5>Senior Associate, London Audit (September 2016 - October 2019)</h5>
                <p>Key clients - all points from written feedback:</p>

                <h5>TK Maxx (TJX Companies Inc.)</h5>
                <p>Global fashion retailer - parent listed on the New York Stock Exchange</p>
                <ul>
                  <li>Owned both the significant risk areas (revenue and journals) for a SOX client which were subject to an additional Quality Review by a second Partner</li>
                  <li>Led meetings with the US PwC group team and set our journals approach for testing</li>
                  <li>Demonstrated professionalism above what would be expected and had challenging conversations about accounting treatment</li>
                  <li>Reviewed the Austrian PwC team’s instructions and led meetings to keep them up to date with work</li>
                  <li>Coached a remote worker through various tasks</li>
                  <li>Took over liaising with the US and UK data and Risk Assurance teams to set up our journals instances</li>
                  <li>Made excellent relationships with the client, in particular the head of Sales finance team which led to the client being more receptive to deliverables requests and queries</li>
                </ul>
                <br>

                <h5>EndemolShine Group</h5>
                <p>Television production and distribution - limited company</p>
                <ul>
                  <li>Became main point of contact with primary client contact, and led the legal meeting with the client</li>
                  <li>Became main point of contact for the Senior Manager as they trusted me to manage progress because had shown to be pro-active in taking charge of tasks and finishing them</li>
                  <li>Tested complex areas such as deferred and accrued revenue, revenue using Computer Assisted Audit Techniques, and the implementation of IFRS 15</li>
                  <li>Identified tasks which could be done by associates and coached them through it to free up time for more complex areas</li>
                  <li>Gave exceptional coaching and explained the reasons behind testing approaches which showed strong interest in the development of junior team members</li>
                  <li>Kept spirits up during intense work conditions</li>
                  <li>Had good knowledge of the client and industry, and shared this well with newcomers to the team</li>
                </ul>
                <br>

                  <h5>Account Technologies</h5>
                  <p>Technology company using data modelling to lend finance - limited company</p>
                  <ul>
                    <li>Received a recognition award for showing commitment to the job far beyond booking to get it finished</li>
                    <li>Helped financially manage the job, setting the budget for staff and timeline, and then costing a new price based on the growth of the company and one-offs for IFRS 9 and 15 implementations and new entities</li>
                    <li>Tested the complex areas of accounting, including the significant risk for bad debt which required testing the data driven model and the assumptions it was based on.  Additionally developing a strategy to test the impact of IFRS 9</li>
                    <li>Showed good downwards management to the rest of the team (which was 3 business placement students on their first major engagement).  Intervened to make sure no other team members had to deal with the client when they were intimidated.</li>
                    <li>On first time as in-charge was one of the best an individual has had. They believed that few other Senior Associates could have dealt with the client’s hostile attitude so well.</li>
                    <li>Remained professionally sceptical, and at the end of the engagement the client invited me to networking events showing a good relationship had been built</li>
                    <li>Led daily meetings with the client and was across every team members’ area to give support when needed</li>
                  </ul>
                <br>

                  <h5>Telehouse (KDDI Corporation)</h5>
                  <p>Technology company providing data centres and ICT solutions  - parent listed on the Tokyo Stock Exchange</p>
                  <ul>
                  <li>Received a recognition award on this engagement for requesting to take on more challenging areas, and commitment to getting it completed before the reporting deadline</li>
                  <li>Liaised with the group team in Japan to ensure reporting met their requirements.  Planned the journals strategy for the French team</li>
                  <li>Tested the complex audit areas of revenue (again using CAATs), IFRS 15 implementation, journals, and physically inspect PPE</li>
                  <li>Managed a remote team who performed work on more straightforward areas, from planning meetings, solving issues as they arose, to reviewing their work</li>
                  </ul>
                <br>

                <h5>Internal</h5>
                <ul>
                  <li>An engagement leader requested I join them and a Senior Manager in Capital Markets scope the potential audit of a cryptocurrency exchange.  This meant holding meetings with the PwC global lead for cryptocurrencies and the prospective client.  I then took working global guidelines on specific audit risks for cryptocurrencies and prepared a paper on how we could get comfort over each risk through a combination of specified procedures and testing controls identified in their controls matrix</li>
                  <li>Ran an excel proficiency newsletter for my industry group that was well received by the group leader, partners, associates and my peers</li>
                  <li>Consistently ranked as High Performing for my grade at year-end moderations</li>
                </ul>
                <br>

                <h4>Whistler Blackcomb, Canada</h4>
                <h5>Ski Coach (December 2019 - March 2020)</h5>
                <p>Coached young athletes to prepare them technically and mentally to achieve their high-performance goals in a potentially dangerous environment.
                Skills demonstrated via written feedback:</p>
                <ul>
                  <li>Worked with fellow ski instructors to solve daily challenges on the mountain</li>
                  <li>Formed good relationships with skiers and parents resulting in being requested for many lessons, and many comments of “best coach I’ve ever had”</li>
                  <li>Self-motivated to develop myself by attending weekly training sessions and  obtain my Snow Park certification alongside working</li>
                  <li>Willingly accepted new challenges and changes to my schedule to show flexibility</li>
                  <li>Won the ‘Barts Heart’ Award (effectively employee of the month).</li>
                </ul>
                <br>


                <h4>Gore Browne Investment Management, Salisbury</h4>
                <h5>Intern (September 2015 – November 2015)</h5>
                <p>Was exposed to all aspects of successfully managing investments.  Participating in meetings on market expectations, promising assets and fund presentations, and spent time at a brokers.  I was responsible for producing performance reports, liquidity reports, updating asset allocations, researching stocks to invest in, researching and recommending funds and writing research papers on macro issues.</p>
                <br>

                <h2>Other interests and skills</h2>
                <ul>
                  <li>Completed a 30+ hour python programming course and completed several python projects.</li>
                  <li>Made the following website: ……</li>
                  <li>President of Snowsports Club (largest club in University Athletic Union, 500+ members)</li>
                    <ul>
                    <li>Showed a range of leadership, analytical, time management and relationship skills needed to lead the club to its most successful year in terms of membership, participation and financials</li>
                    <li>Responsible for organising trips to the Alps for hundreds of people</li>
                    <li>Received the Club Award from the Athletic Union for outstanding contribution towards sport and the club won AU Non-BUCS club of the Year as well as the Media Award</li>
                    <li>Balanced this alongside achieving a First in my degree</li>
                    </ul>
                  <li>Part of a BeyondMe team that provided pro-bono social media marketing strategy advice to World Child Cancer charity, after conducting research</li>
                  <li>Trained as a ski racer from the age of 12 and participated in International Ski Federation races in Europe until 17 years old</li>
                  <li>Represented England at the International School Sport Federation World Championships</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>

        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/script.js"></script></body>

</html>